<div class="card">
  <div class="card-header">
    <h1><%= t(".header") %></h1>
  </div>
  <div class="card-body">
    <p>
      <%= link_to t(".create"), new_admin_test_path %>
      <%= link_to t(".gists"), admin_gists_path %>
    </p>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-striped table-hover">
      <tr>
        <th class="sort-by-title pointer">
          <%= t(".title") %>
          <%= octicon 'arrow-up', class: 'text-succes hide' %>
          <%= octicon 'arrow-down', class: 'text-succes hide' %>
        </th>
        <th><%= t(".level") %></th>
        <th><%= t(".questions") %></th>
        <th><%= t(".public") %></th>
        <th colspan="4"><%= t(".actions") %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>
